@if(loadHackerNews$ | async; as hackerNews){
  <div class="container">
  @for(story of hackerNews.data.stories; track story.id){
    <figure class="news-card">
      <div class="image">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample52.jpg" alt="sample52"/></div>
      <figcaption>
        <div class="date">
          <span class="day">{{story.day}}</span>
          <span class="month">{{story.month}}</span>
        </div>
        <h3>{{story.by}}</h3>
        @if(story.url){
          <a [href]="story.url">{{story.title}}</a>
        }
        @else {
          <p>
            {{story.title}}
          </p>
        }
      </figcaption>
    </figure>
  }
  </div>
}

